<div id="alertDemo">

  <div class="alert-textbox">
    <div>
      <textarea placeholder="Enter your alert text here!" [(ngModel)]="alertText" #ctrl="ngModel" [maxlength]="alertMaxLength" rows="3" cols="50" required></textarea>
      <div class="small">{{alertLength()}} / {{alertMaxLength}}</div>
    </div>
  </div>

  <div class="alert-buttons-container">
    <button class="btn btn-blue" (click)="showInfo()">
      <i class="fa fa-info" aria-hidden="true"></i> INFO!
    </button>
    <button class="btn btn-green" (click)="showSuccess()">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i> SUCCESS!
    </button>
  </div>
  <div class="d-flex justify-content-center mb-4">
    <button class="btn btn-yellow" (click)="showWarn()">
      <i class="fa fa-exclamation" aria-hidden="true"></i> WARN!
    </button>
    <button class="btn btn-red" (click)="showError()">
      <i class="fa fa-times" aria-hidden="true"></i> ERROR!
    </button>
  </div>

  <div *ngIf="options != null" class="text-center row">
    <div class="col">
      <h5 class="font-weight-bold d-block">Alert Box Position</h5>
      <label class="custom-control custom-radio">
        <input class="custom-control-input" type="radio" [(ngModel)]="options.location" name="left" value="left">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Left</span>
      </label>
      <label class="custom-control custom-radio">
        <input class="custom-control-input" type="radio" [(ngModel)]="options.location" name="center" value="center">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Center</span>
      </label>
      <label class="custom-control custom-radio">
        <input class="custom-control-input" type="radio" [(ngModel)]="options.location" name="right" value="right">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Right</span>
      </label>
    </div>

    <div class="col">
      <h5 class="font-weight-bold d-block">Auto Close Alerts</h5>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="options.autoClose">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Use Auto Close for Alerts?</span>
      </label>

      <div>
        <label>Timeout for auto close</label>
        <input type="number" placeholder="Time" class="d-inline text-right" style="width:70px;" [(ngModel)]="options.autoCloseTimeout" min="1" required />
        <label>(ms)</label>
      </div>
    </div>
  </div>

</div>
