#alertDemo {
  max-width: 700px;
  padding: 1rem;
  margin: 0 auto;
}

.alert-textbox {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.small {
  font-size: 0.8rem;
}

.alert-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .btn {
  }
}
