#alertContainer {
	position: fixed;
	top: 45px;
	max-width: 45%;
	min-width: 20%;
	z-index: 1032;
}
.alert-right { 
	right: 5px
}
.alert-left {
	left: 5px 
}
.alert-center {
	left: 50%;
	transform: translateX(-50%);
}	
.alert {
	word-wrap: break-word;
	border-radius: 0;
	color: white;
	cursor: pointer;
	border: unset;
	padding: unset;
}

.alert-progress {
  position: fixed;
  top: -1px;
  left: 0;
  height: 4px;
  background-color: #6b4472;
}

/* Styling */
.alert-info {
	background-color: #3498DB;
	border-color: #3498DB;
}
.alert-success {
	background-color: #51B641;
	border-color: #51B641;
}
.alert-warn {
	background-color: #bdc411;
	border-color: #bdc411;
}
.alert-error {
	background-color: #bc1214;
	border-color: #bc1214;
}